@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, I'm Pablo Garcia</h1>
    <p>To know more about me <a href="https://www.linkedin.com/in/pablosebastgarc%C3%ADa/">here is my LinkedIn</a>.</p>
</div>
